*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


.page .home {
   background-image: url(./img/img2.jpg);
height: 100vh;
width: 100%;
background-size: cover;
display: flex;
justify-content: center;
padding-top: 5%;
} 

.home .para p{
  font-size: 30px;
  color: white;
  font-weight: 600;
}
.home .para span{
   font-size: 20px;
   font-weight: 400;
}

.heading{
    width: 100%;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.heading .header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.header h1{
font-weight: 400;
}
.heading .header span{
   font-size: 50px;
   
}

.main{
    box-sizing: border-box;
   display: flex;
   text-align: center;
   padding-top: 10px;
  align-items: center;
  width: 70%;
  height: 50%;
  margin-left: 15%;
 gap: 20px;
}

.main img{
    display: flex;
    width: 100%;
    height: 40%;
  
 
}
.card {
    box-shadow: 0px 0px 10px black;
    padding: 10px 20px;
    margin: 10px;
   
}
.footer{
   margin-top: 100px;
   display: flex;
   justify-content: space-around;
  
}
.footer .contactMe{
    height: 200px;
    width: 600px;
    background-color: darkgreen;
   color: white;
   padding: 40px 20px 0px;
}
.footer .contactMe p{
    margin-top: 20px;
}


.footer .aboutMe{
    background-color: brown;
    padding: 40px 20px 0px;
    width: 600px;
    color: white;
    height: 200px;
}
.footer .aboutMe p{
    margin-top: 20px;
}

@media (max-width: 786px){
   .page .home{
    height: 50vh;
   }
   .page .home .para p{
    font-size: 18px;
   }
   .header h1{
    font-size: 24px;
   }
   .main, .footer{
    display: flex;
    flex-direction: column;
   }
}